.body {
  display: flex;
}

.borderLeft {
  width: 60px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +1;
  top: 8px;
}

.borderRight {
  width: 1000px;
  height: 790px;
  position: absolute;
  background-color: white;
  z-index: +1;
  left: 568px;
  top: 8px;
}

.borderTop {
  width: 500px;
  height: 60px;
  position: absolute;
  background-color: white;
  z-index: +1;
}

.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 68px;
}

.sky {
  background-image: url('fb-game-background.png');
  width: 500px;
  height: 580px;
  position: absolute;
  top: 60px;
  
}

.bird {
  background-image: url('flappy-bird.png');
  width: 60px;
  height: 45px;
  position: absolute;
}

.obstacle {
  background-image: url('flappybird-pipe.png');
  width: 60px;
  height: 300px;
  position: absolute;
}

.topObstacle {
  background-image: url('flappybird-pipe.png');
  transform: rotate(180deg);
  width: 60px;
  height: 300px;
  position: absolute;
}

@keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}

.ground-container {
  width: 500px;
  height: 150px;
}

.ground {
  position: absolute;
  top: 640px;
  height: 150px;
  background-image: url('bottom-background.png');
  width: 500px;
  z-index: +1; 
  margin-left: 60px;
}

.ground-moving {
  position: absolute;
  top: 640px;
  height: 150px;
  background-image: url('bottom-background.png');
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  min-width: 55%;
}
